{% extends 'base.html.twig' %}

{% block title %}Time Track APP{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">Welcome {{ app.user.username }} to your time tracker.
		<ul>
			<li><a href="{{ path('app_logout') }}">Logout</a></li>
			<a href="{{ path('task') }}">New task</a></li>
			<li><a href="{{ path('tasks_report') }}">Tasks report</a></li>
		</ul>
		<h1>Tasks that belong to you</h1>
		{% if tasks|length > 0 %}
			<table>
			<tr>
				<th>Title</th>
				<th>Comment</th>
				<th>Date</th>
				<th>Time spent</th>
			</tr>
			{% for task in tasks %}
				<tr>
					<td>{{ task.title }}</td>
					<td>{{ task.comment }}</td>
					<td>{{ task.date|date('Y-m-d') }}</td>
					<td>{{ task.timeSpent }}</td>
				</tr>
			{% endfor %}
		</table>
	{% if previous >= 0 %}
		<a href="{{path('home', {offset: previous})}}">Previous page</a>
	{% endif %}
	{% if next < tasks|length %}
		<a href="{{path('home', {offset: next})}}">Next page</a>
	{% endif %}
	{% else %}
		You have no saved tasks.
	{% endif %}
	</div>
	{% else %}
		<ul>
			<li><a href="{{ path('app_login') }}">Login</a></li>
			<li><a href="{{ path('app_register') }}">Register</a></li>
		</ul>
	{% endif %}
{% endblock %}
